body{
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
}

.content{
    height: fit-content;
    font-family: Sans-Serif;
    width: 60%;
    margin: 20px auto 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 20px #c13c66;
}




